---

  - name: MSSQL Server | Check installed
    shell: "/opt/mssql-tools/bin/sqlcmd -S localhost -U SA-P {{mssql_sa_password}} -Q \"SELECT @@VERSION\" 2>/dev/null"
    become: yes
    register: mssql_present
    ignore_errors: yes
    tags:
      - mssql


  - name: MSSQL Server | Add key
    apt_key: url="https://packages.microsoft.com/keys/microsoft.asc" state=present
    become: yes
    when: mssql_present | failed
    tags:
      - mssql

  - name: MSSQL Server | Add apt repository (1/2 mssql-server)
    apt_repository:
      repo: deb [arch=amd64] https://packages.microsoft.com/ubuntu/16.04/mssql-server xenial main
      state: present
      filename: 'mssql-server'
    become: yes
    when: mssql_present | failed
    tags:
      - mssql

  - name: MSSQL Server | Add apt repository (2/2 prod)
    apt_repository:
      repo: deb [arch=amd64] https://packages.microsoft.com/ubuntu/16.04/prod xenial main
      state: present
      filename: 'prod'
    become: yes
    when: mssql_present | failed
    tags:
      - mssql

  - name: MSSQL Server | Install mssql-server packages
    apt: pkg="mssql-server" state="present"
    become: yes
    when: mssql_present | failed
    tags:
      - mssql

  - name: MSSQL Server | Ensure SQL Server stopped before configuration
    service: name="mssql-server" enabled="yes" state="stopped"
    become: yes
    tags:
      - mssql

  - name: MSSQL Server | Running mssql-conf setup...
    shell: /opt/mssql/bin/mssql-conf -n setup accept-eula
    environment:
      MSSQL_SA_PASSWORD: "{{mssql_sa_password}}"
      MSSQL_PID: "{{mssql_pid}}"
    become: yes
    when: mssql_present | failed
    tags:
      - mssql


  - name: MSSQL Server | Installing mssql-tools and unixODBC developer
    apt: pkg="{{item}}" state="present"
    environment:
      ACCEPT_EULA: Y
    become: yes
    with_items:
      - mssql-tools
      - unixodbc-dev
    when: mssql_present | failed
    tags:
      - mssql

  - include: use/__add_to_path.yml extra_path="/opt/mssql-tools/bin"

  - name: MSSQL Server | Installing SQL Server Agent...
    apt: pkg="{{item}}" state="present"
    become: yes
    with_items:
      - mssql-server-agent
    when: option_sql_install_agent
    tags:
      - mssql

  - name: MSSQL Server | Installing SQL Server Full-Text Search...
    apt: pkg="{{item}}" state="present"
    become: yes
    with_items:
      - mssql-server-fts
    when: option_sql_install_fulltext
    tags:
      - mssql

  - block:

    - name: MSSQL Server | Restarting SQL Server...
      service: name="mssql-server" enabled="yes" state="restarted"
      become: yes
      tags:
        - mssql

    - name: MSSQL Server | Waiting for port
      wait_for: port="1433"
      become: yes
      tags:
        - mssql

    - name: MSSQL Server | Check installed version
      shell: "/opt/mssql-tools/bin/sqlcmd -S localhost -U SA-P {{mssql_sa_password}} -Q \"SELECT @@VERSION\" 2>/dev/null"
      become: yes
      register: mssql_version_result
      until: mssql_version_result.rc == 0
      retries: 10
      delay: 3
      ignore_errors: yes
      tags:
        - mssql

    - name: MSSQL Server | Creating user {{sql_install_user}}
      shell: "/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P mssql_sa_password -Q \"CREATE LOGIN [sql_install_user] WITH PASSWORD=N'{{sql_install_user_password}}', DEFAULT_DATABASE=[master], CHECK_EXPIRATION=ON, CHECK_POLICY=ON; ALTER SERVER ROLE [sysadmin] ADD MEMBER [{{sql_install_user}}]\""
      become: yes
      tags:
        - mssql

    when: docker_test is not defined and mssql_present | failed
